###Files and folders specified here will never be tracked.

#Ignore everything in datafolder and subdirectories
/data/**/*
mapmerge/
#Ignore compiled files and other files generated during compilation.
*.dmb
*.rsc
*.lk
*.int
*.backup
*.int
config/admins.txt
_maps/map_files/Events/Red_October.dmm
icons/obj/torpedo.dmi
code/game/WorkInProgress/Alkoz/torpedoes.dm
_maps/map_files/TgStation/backup/tgstation.2.1.3.dmm